---
import { Image } from 'astro:assets';
import astroLogo from '/public/astro-full-logo.png';
---

<footer class="bg-white mt-12 py-8 border-t border-gray-200">
  <div class="container mx-auto px-4 flex flex-col items-center">
    <div class="mb-4">
    <span>
      <a href="/rss.xml">RSS Feed</a>
    </span>
    <span
      >Built with <a href="https://astro.build"
        ><Image
          src={astroLogo}
          alt="Astro logo"
          height={48}
          style="display: inline-block;"
        /></a
      ></span
    >
    </div>
  </div>
</footer>

<style>
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    margin: 0 1rem;
  }
</style>
