---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/blog.css";
import { SEO } from "astro-seo";

export interface StaticContentPageProps {
  content: {
    title: string;
    description: string;
    canonicalRoute: string;
  };
}

const {
  content: { title, description, canonicalRoute },
} = Astro.props as StaticContentPageProps;

const canonicalURL = `https://brianvia.blog/${canonicalRoute}`;
const imageUrl = "https://brianvia.blog/social-image.png";

---

<html>
  <head>

    <SEO
      title={title}
      description={description}
      canonical={canonicalURL.toString()}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: imageUrl,
        }
      }}
      twitter={{
        card: "summary_large_image",
        site: "@Brian_Via",
        creator: "@Brian_Via"
      }}
      extend={{
        link: [
          { rel: "icon", type: "image/x-icon", href: "/favicon.ico" },
          { rel: "preconnect", href: "https://fonts.gstatic.com" },
          { rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" }
        ],
        meta: [
          { name: "viewport", content: "width=device-width" },
        ],
      }}
    />
    
    <!-- Styles -->
    <style is:global>
      @import "../styles/blog.css";
    </style>
    
  </head>

  <body>
    <Header />

    <section class="intro text-center font-serif py-2">
      <p>I don't have talent, so I just get up earlier.<br />-Henry Rollins</p>
    </section>

      <main class="m-8 max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
        <slot />
      </main>
      <Footer />

    <style is:global>

      .content {
        margin-bottom: 8rem;
      }

      .content :global(h2) {
        margin-top: 4rem;
      }

      .title,
      time {
        margin: 0;
      }

      time {
        color: var(--theme-text-lighter);
      }

      .title {
        font-size: 2.25rem;
        font-weight: 700;
      }

    
      a:hover {
        color: #005fa3;
      }
    
      a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -2px;
        left: 0;
        background-color: currentColor;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
    
      a:hover::after {
        transform: scaleX(1);
      }
    </style>
  </body>
</html>
